In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read csv file with pandas and create dataframe
cancer_df = pd.read_csv("Resources/original_data/cancer_data.csv")
cancer_df.head()

,Area,County,CancerType,Year,Sex,AgeAdjustedRate,CaseCount,Population
0,'Alabama','Shelby County','Lung and Bronchus','2013-2017','Male and Female','46.4','532','1044707'
1,'Alabama','Hale County','Lung and Bronchus','2013-2017','Male and Female','46.7','51','74956'
2,'Alabama','Monroe County','Lung and Bronchus','2013-2017','Male and Female','51.1','83','108662'
3,'Alabama','Coosa County','Lung and Bronchus','2013-2017','Male and Female','50.5','46','54815'
4,'Alabama','Perry County','Lung and Bronchus','2013-2017','Male and Female','49.4','34','48294'

In [3]:
#drop unnecessary columns
cancer_df = cancer_df.drop(columns = {'CancerType', 'Year', 'Sex', 'AgeAdjustedRate'})
cancer_df.head()

        Area           County CaseCount Population
0  'Alabama'  'Shelby County'     '532'  '1044707'
1  'Alabama'    'Hale County'      '51'    '74956'
2  'Alabama'  'Monroe County'      '83'   '108662'
3  'Alabama'   'Coosa County'      '46'    '54815'
4  'Alabama'   'Perry County'      '34'    '48294'

In [4]:
#rename columns to match other jupyter notebook df
renamed_cancer_df = cancer_df.rename(columns = {'Area': 'us_state', 'County': 'county'})
renamed_cancer_df.head()

    us_state           county CaseCount Population
0  'Alabama'  'Shelby County'     '532'  '1044707'
1  'Alabama'    'Hale County'      '51'    '74956'
2  'Alabama'  'Monroe County'      '83'   '108662'
3  'Alabama'   'Coosa County'      '46'    '54815'
4  'Alabama'   'Perry County'      '34'    '48294'

In [5]:
#remove ' symbol from all columns
cols_to_check = ['us_state', 'county', 'CaseCount', 'Population']

renamed_cancer_df[cols_to_check] = renamed_cancer_df[cols_to_check].replace({"'":''}, regex=True)
renamed_cancer_df.head()

  us_state         county CaseCount Population
0  Alabama  Shelby County       532    1044707
1  Alabama    Hale County        51      74956
2  Alabama  Monroe County        83     108662
3  Alabama   Coosa County        46      54815
4  Alabama   Perry County        34      48294

In [6]:
#remove county, area, parish, burough, etc from county column
renamed_cancer_df['county'] = renamed_cancer_df['county'].replace({' County':'', ' Census Area':'', ' Parish':'', ' Burough':'', ' Municipality':'', ' City and Burough': '', 'City': ''}, regex=True)
renamed_cancer_df.head()

  us_state  county CaseCount Population
0  Alabama  Shelby       532    1044707
1  Alabama    Hale        51      74956
2  Alabama  Monroe        83     108662
3  Alabama   Coosa        46      54815
4  Alabama   Perry        34      48294

In [7]:
#rename state from full name to abbreviation
renamed_cancer_df['us_state'] = renamed_cancer_df['us_state'].replace({'Alabama':'AL', 'Alaska':'AK', 'Arkansas':'AR', 'Arizona':'AZ', 'California':'CA', 
                                                                      'Colorado':'CO', 'Connecticut':'CT', 'Delaware':'DE', 'Florida':'FL', 'Georgia':'GA',
                                                                      'Hawaii':'HI', 'Idaho':'ID', 'Illinois':'IL', 'Indiana':'IN', 'Iowa':'IA', 'Kansas':'KS',
                                                                      'Kentucky':'KY', 'Louisiana':'LA', 'Maine':'ME', 'Maryland':'MD', 'Massachusetts':'MA', 
                                                                      'Michigan':'MI', 'Minnesota':'MN', 'Mississippi':'MS', 'Missouri':'MO', 'Montana':'MT', 'Nebraska':'NE', 
                                                                      'Nevada':'NV', 'New Hampshire':'NH', 'New Jersey':'NJ', 'New Mexico':'NM', 'New York':'NY',
                                                                      'North Carolina':'NC', 'North Dakota':'ND', 'Ohio':'OH', 'Oklahoma':'OK', 'Oregon':'OR',
                                                                      'Pennsylvania':'PA', 'Rhode Island':'RI', 'South Carolina':'SC', 'South Dakota':'SD', 
                                                                      'Tennessee':'TN', 'Texas':'TX', 'Utah':'UT', 'Vermont':'VT', 'Virginia':'VA', 'Washington':'WA', 
                                                                      'West VA':'WV', 'Wisconsin':'WI', 'Wyoming':'WY'}, regex=True)

renamed_cancer_df

     us_state      county        CaseCount Population
0          AL      Shelby              532    1044707
1          AL        Hale               51      74956
2          AL      Monroe               83     108662
3          AL       Coosa               46      54815
4          AL       Perry               34      48294
...       ...         ...              ...        ...
2949       WY    Sublette  Data Suppressed      50115
2950       WY    Big Horn               41      59560
2951       WY    Sheridan               89     149557
2952       WY     Natrona              242     405037
2953       WY  Sweetwater               89     222695

[2954 rows x 4 columns]

In [8]:
#change 'Data Supressed' in CaseCount to 0
renamed_cancer_df['CaseCount'].replace('Data Suppressed', '0', inplace=True)
renamed_cancer_df

     us_state      county CaseCount Population
0          AL      Shelby       532    1044707
1          AL        Hale        51      74956
2          AL      Monroe        83     108662
3          AL       Coosa        46      54815
4          AL       Perry        34      48294
...       ...         ...       ...        ...
2949       WY    Sublette         0      50115
2950       WY    Big Horn        41      59560
2951       WY    Sheridan        89     149557
2952       WY     Natrona       242     405037
2953       WY  Sweetwater        89     222695

[2954 rows x 4 columns]

In [9]:
#drop rows with "Data Supressed" in Population Column
renamed_cancer_df = renamed_cancer_df[renamed_cancer_df.Population != 'Data Suppressed']
renamed_cancer_df

     us_state      county CaseCount Population
0          AL      Shelby       532    1044707
1          AL        Hale        51      74956
2          AL      Monroe        83     108662
3          AL       Coosa        46      54815
4          AL       Perry        34      48294
...       ...         ...       ...        ...
2949       WY    Sublette         0      50115
2950       WY    Big Horn        41      59560
2951       WY    Sheridan        89     149557
2952       WY     Natrona       242     405037
2953       WY  Sweetwater        89     222695

[2952 rows x 4 columns]

In [10]:
#convert CaseCount to integer
renamed_cancer_df['CaseCount'] = renamed_cancer_df['CaseCount'].astype(int)

#calculate average cancer cases (data is for 5 year period)
avg_cancer_cases = renamed_cancer_df['CaseCount']/5
renamed_cancer_df['avg_cancer_cases'] = avg_cancer_cases


renamed_cancer_df

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     us_state      county  CaseCount Population  avg_cancer_cases
0          AL      Shelby        532    1044707             106.4
1          AL        Hale         51      74956              10.2
2          AL      Monroe         83     108662              16.6
3          AL       Coosa         46      54815               9.2
4          AL       Perry         34      48294               6.8
...       ...         ...        ...        ...               ...
2949       WY    Sublette          0      50115               0.0
2950       WY    Big Horn         41      59560               8.2
2951       WY    Sheridan         89     149557              17.8
2952       WY     Natrona        242     405037              48.4
2953       WY  Sweetwater         89     222695              17.8

[2952 rows x 5 columns]

In [11]:
#convert Population to integer
renamed_cancer_df['Population'] = renamed_cancer_df['Population'].astype(int)

#calculate population percentage with lung cancer
cancer_percent = renamed_cancer_df['avg_cancer_cases']/renamed_cancer_df['Population'] *100000
renamed_cancer_df['percent_pop_per_100k'] = cancer_percent

renamed_cancer_df

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,us_state,county,CaseCount,Population,avg_cancer_cases,percent_pop_per_100k
0,AL,Shelby,532,1044707,106.4,10.184674
1,AL,Hale,51,74956,10.2,13.607983
2,AL,Monroe,83,108662,16.6,15.276730
3,AL,Coosa,46,54815,9.2,16.783727
4,AL,Perry,34,48294,6.8,14.080424
...,...,...,...,...,...,...
2949,WY,Sublette,0,50115,0.0,0.000000
2950,WY,Big Horn,41,59560,8.2,13.767629
2951,WY,Sheridan,89,149557,17.8,11.901817
2952,WY,Natrona,242,405037,48.4,11.949526
2953,WY,Sweetwater,89,222695,17.8,7.992995

In [12]:
# get min and max of population percent
renamed_cancer_df['percent_pop_per_100k'].min()

0.0

In [13]:
renamed_cancer_df['percent_pop_per_100k'].max()

49.988876820602755

In [14]:
# create bins to cateogorize population percentage as low, medium, high
bins = [1, 10, 20, 50]
category = ['low', 'medium', 'high']

renamed_cancer_df['cancer_classification'] = pd.cut(renamed_cancer_df['percent_pop_per_100k'], bins, labels=category)
renamed_cancer_df

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,us_state,county,CaseCount,Population,avg_cancer_cases,percent_pop_per_100k,cancer_classification
0,AL,Shelby,532,1044707,106.4,10.184674,medium
1,AL,Hale,51,74956,10.2,13.607983,medium
2,AL,Monroe,83,108662,16.6,15.276730,medium
3,AL,Coosa,46,54815,9.2,16.783727,medium
4,AL,Perry,34,48294,6.8,14.080424,medium
...,...,...,...,...,...,...,...
2949,WY,Sublette,0,50115,0.0,0.000000,NaN
2950,WY,Big Horn,41,59560,8.2,13.767629,medium
2951,WY,Sheridan,89,149557,17.8,11.901817,medium
2952,WY,Natrona,242,405037,48.4,11.949526,medium
2953,WY,Sweetwater,89,222695,17.8,7.992995,low

In [15]:
renamed_cancer_df['cancer_classification'].value_counts()

medium    1432
high      1055
low        224
Name: cancer_classification, dtype: int64

In [16]:
clean_cancer_df = renamed_cancer_df.drop(columns ={'CaseCount', 'Population', 'avg_cancer_cases'})
clean_cancer_df

     us_state      county  percent_pop_per_100k cancer_classification
0          AL      Shelby             10.184674                medium
1          AL        Hale             13.607983                medium
2          AL      Monroe             15.276730                medium
3          AL       Coosa             16.783727                medium
4          AL       Perry             14.080424                medium
...       ...         ...                   ...                   ...
2949       WY    Sublette              0.000000                   NaN
2950       WY    Big Horn             13.767629                medium
2951       WY    Sheridan             11.901817                medium
2952       WY     Natrona             11.949526                medium
2953       WY  Sweetwater              7.992995                   low

[2952 rows x 4 columns]

In [17]:
# Export file as a CSV, with index and header
clean_cancer_df.to_csv("Resources/clean_data/cancerdata.csv", index=False, header=True)