In [34]:
# Dependencies
import pandas as pd

In [35]:
# Read csv file with pandas and create dataframe
aqi_df = pd.read_csv("Resources/original_data/aqi2019.csv")

aqi_df.head()

,us_state,county,year_end,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,ninetieth_percentile_aqi,median_aqi,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,12/31/2019,271,237,34,0,0,0,0,80,52,37,0,0,220,0,51,0
1,AL,Clay,12/31/2019,107,97,10,0,0,0,0,67,50,30,0,0,0,0,107,0
2,AL,Colbert,12/31/2019,263,252,11,0,0,0,0,61,47,37,0,0,228,0,35,0
3,AL,DeKalb,12/31/2019,361,324,37,0,0,0,0,90,51,39,0,0,331,0,30,0
4,AL,Elmore,12/31/2019,228,208,20,0,0,0,0,100,50,39,0,0,228,0,0,0

In [36]:
#drop unnecessary columns
clean_aqi2019 = aqi_df.drop(columns = {'year_end', 'ninetieth_percentile_aqi', 'median_aqi', 'max_aqi' })
clean_aqi2019.head()

,us_state,county,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,271,237,34,0,0,0,0,0,0,220,0,51,0
1,AL,Clay,107,97,10,0,0,0,0,0,0,0,0,107,0
2,AL,Colbert,263,252,11,0,0,0,0,0,0,228,0,35,0
3,AL,DeKalb,361,324,37,0,0,0,0,0,0,331,0,30,0
4,AL,Elmore,228,208,20,0,0,0,0,0,0,228,0,0,0

In [37]:
#update column names with year
renamed2019_aqi = clean_aqi2019.rename(columns={'days_with_aqi':'days_with_aqi2019', 'good_days':'good_days2019', 'moderate_days':'moderate_days2019', 'unhealthy_sensitive_days':'unhealthy_sensitive_days2019', 'unhealthy_days':'unhealthy_days2019', 'very_unhealthy_days':'very_unhealthy_days2019', 'hazardous_days':'hazardous_days2019', 'days_co':'days_co2019', 'days_no2':'days_no2_2019', 'days_ozone':'days_ozone2019', 'days_so2':'days_so2_2019', 'days_pm2':'days_pm2_2019', 'days_pm10': 'days_pm10_2019'})
                                        
renamed2019_aqi.head()

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,days_no2_2019,days_ozone2019,days_so2_2019,days_pm2_2019,days_pm10_2019
0,AL,Baldwin,271,237,34,0,0,0,0,0,0,220,0,51,0
1,AL,Clay,107,97,10,0,0,0,0,0,0,0,0,107,0
2,AL,Colbert,263,252,11,0,0,0,0,0,0,228,0,35,0
3,AL,DeKalb,361,324,37,0,0,0,0,0,0,331,0,30,0
4,AL,Elmore,228,208,20,0,0,0,0,0,0,228,0,0,0

In [38]:
# Read csv file with the pandas library
poverty2019_df = pd.read_csv("Resources/original_data/poverty2019.csv")

poverty2019_df.head()

  us_state        county  poverty_estimate  poverty_percentage
0       CO       Douglas              9622                 2.7
1       VA       Loudoun             12909                 3.1
2       NM    Los Alamos               683                 3.5
3       VA  Falls Church               512                 3.5
4       SD       Lincoln              2312                 3.8

In [39]:
clean_poverty2019_df = poverty2019_df.drop(columns = {'poverty_estimate'})
renamed_poverty2019 = clean_poverty2019_df.rename(columns={'poverty_percentage':'poverty_percentage2019'})
renamed_poverty2019.head()

  us_state        county  poverty_percentage2019
0       CO       Douglas                     2.7
1       VA       Loudoun                     3.1
2       NM    Los Alamos                     3.5
3       VA  Falls Church                     3.5
4       SD       Lincoln                     3.8

In [40]:
#merge dataframes on state and county
combined_df = pd.merge(renamed2019_aqi, renamed_poverty2019, how="left", on=['us_state', 'county'])
combined_df.head()

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,days_no2_2019,days_ozone2019,days_so2_2019,days_pm2_2019,days_pm10_2019,poverty_percentage2019
0,AL,Baldwin,271,237,34,0,0,0,0,0,0,220,0,51,0,10.1
1,AL,Clay,107,97,10,0,0,0,0,0,0,0,0,107,0,16.6
2,AL,Colbert,263,252,11,0,0,0,0,0,0,228,0,35,0,14.6
3,AL,DeKalb,361,324,37,0,0,0,0,0,0,331,0,30,0,18.2
4,AL,Elmore,228,208,20,0,0,0,0,0,0,228,0,0,0,11.4

In [41]:
aqi2018_df = pd.read_csv("Resources/original_data/aqi2018.csv")
aqi2018_df.head()

,us_state,county,year_end,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,ninetieth_percentile_aqi,median_aqi,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,12/31/2018,270,245,25,0,0,0,0,97,50,35,0,0,214,0,56,0
1,AL,Clay,12/31/2018,110,103,7,0,0,0,0,64,45,27,0,0,0,0,110,0
2,AL,Colbert,12/31/2018,277,251,26,0,0,0,0,93,50,35,0,0,209,0,68,0
3,AL,DeKalb,12/31/2018,350,316,34,0,0,0,0,84,50,35,0,0,317,0,33,0
4,AL,Elmore,12/31/2018,222,203,19,0,0,0,0,71,49,33,0,0,222,0,0,0

In [42]:
#remove unnecessary columns
clean2018_aqi = aqi2018_df.drop(columns = {'year_end', 'ninetieth_percentile_aqi', 'median_aqi', 'max_aqi' })
clean2018_aqi.head()

,us_state,county,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,270,245,25,0,0,0,0,0,0,214,0,56,0
1,AL,Clay,110,103,7,0,0,0,0,0,0,0,0,110,0
2,AL,Colbert,277,251,26,0,0,0,0,0,0,209,0,68,0
3,AL,DeKalb,350,316,34,0,0,0,0,0,0,317,0,33,0
4,AL,Elmore,222,203,19,0,0,0,0,0,0,222,0,0,0

In [43]:
#update column names with year
renamed2018_aqi = clean2018_aqi.rename(columns={'days_with_aqi':'days_with_aqi2018', 'good_days':'good_days2018', 'moderate_days':'moderate_days2018', 'unhealthy_sensitive_days':'unhealthy_sensitive_days2018', 'unhealthy_days':'unhealthy_days2018', 'very_unhealthy_days':'very_unhealthy_days2018', 'hazardous_days':'hazardous_days2018', 'days_co':'days_co2018', 'days_no2':'days_no2_2018', 'days_ozone':'days_ozone2018', 'days_so2':'days_so2_2018', 'days_pm2':'days_pm2_2018', 'days_pm10': 'days_pm10_2018'})
                                        
renamed2018_aqi.head()

,us_state,county,days_with_aqi2018,good_days2018,moderate_days2018,unhealthy_sensitive_days2018,unhealthy_days2018,very_unhealthy_days2018,hazardous_days2018,days_co2018,days_no2_2018,days_ozone2018,days_so2_2018,days_pm2_2018,days_pm10_2018
0,AL,Baldwin,270,245,25,0,0,0,0,0,0,214,0,56,0
1,AL,Clay,110,103,7,0,0,0,0,0,0,0,0,110,0
2,AL,Colbert,277,251,26,0,0,0,0,0,0,209,0,68,0
3,AL,DeKalb,350,316,34,0,0,0,0,0,0,317,0,33,0
4,AL,Elmore,222,203,19,0,0,0,0,0,0,222,0,0,0

In [44]:
# Read csv file with the pandas library
poverty2018_df = pd.read_csv("Resources/original_data/poverty2018.csv")

poverty2018_df.head()

  us_state        county  poverty_estimate  poverty_percentage
0       CO       Douglas              8975                 2.6
1       TX        Loving                 5                 3.3
2       VA       Loudoun             14700                 3.6
3       VA  Falls Church               535                 3.6
4       MN        Carver              3945                 3.8

In [45]:
#drop unnecessary columns
clean_poverty2018_df = poverty2018_df.drop(columns = {'poverty_estimate'})
renamed_poverty2018 = clean_poverty2018_df.rename(columns={'poverty_percentage':'poverty_percentage2018'})
renamed_poverty2018.head()

  us_state        county  poverty_percentage2018
0       CO       Douglas                     2.6
1       TX        Loving                     3.3
2       VA       Loudoun                     3.6
3       VA  Falls Church                     3.6
4       MN        Carver                     3.8

In [46]:
#merge dataframes on state and county
combined2018_df = pd.merge(renamed2018_aqi, renamed_poverty2018, how="left", on=['us_state', 'county'])
combined2018_df.head()

,us_state,county,days_with_aqi2018,good_days2018,moderate_days2018,unhealthy_sensitive_days2018,unhealthy_days2018,very_unhealthy_days2018,hazardous_days2018,days_co2018,days_no2_2018,days_ozone2018,days_so2_2018,days_pm2_2018,days_pm10_2018,poverty_percentage2018
0,AL,Baldwin,270,245,25,0,0,0,0,0,0,214,0,56,0,9.8
1,AL,Clay,110,103,7,0,0,0,0,0,0,0,0,110,0,17.6
2,AL,Colbert,277,251,26,0,0,0,0,0,0,209,0,68,0,13.8
3,AL,DeKalb,350,316,34,0,0,0,0,0,0,317,0,33,0,21.3
4,AL,Elmore,222,203,19,0,0,0,0,0,0,222,0,0,0,11.2

In [47]:
combined1819_df = pd.merge(combined_df, combined2018_df, how="left", on=['us_state', 'county'])
combined1819_df.head()

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,...,unhealthy_days2018,very_unhealthy_days2018,hazardous_days2018,days_co2018,days_no2_2018,days_ozone2018,days_so2_2018,days_pm2_2018,days_pm10_2018,poverty_percentage2018
0,AL,Baldwin,271,237,34,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,214.0,0.0,56.0,0.0,9.8
1,AL,Clay,107,97,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,110.0,0.0,17.6
2,AL,Colbert,263,252,11,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,209.0,0.0,68.0,0.0,13.8
3,AL,DeKalb,361,324,37,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,317.0,0.0,33.0,0.0,21.3
4,AL,Elmore,228,208,20,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,222.0,0.0,0.0,0.0,11.2

In [48]:
# Read csv file with the pandas library
aqi2017_df = pd.read_csv("Resources/original_data/aqi2017.csv")

aqi2017_df.head()

,us_state,county,year_end,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,ninetieth_percentile_aqi,median_aqi,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,12/31/2017,270,241,28,1,0,0,0,108,51,36,0,0,206,0,64,0
1,AL,Clay,12/31/2017,118,104,14,0,0,0,0,66,52,30,0,0,0,0,118,0
2,AL,Colbert,12/31/2017,283,265,18,0,0,0,0,63,48,37,0,0,218,0,65,0
3,AL,DeKalb,12/31/2017,359,329,30,0,0,0,0,80,50,39,0,0,315,0,44,0
4,AL,Elmore,12/31/2017,226,221,5,0,0,0,0,58,45,35,0,0,226,0,0,0

In [49]:
#remove unnecessary columns
clean2017_aqi = aqi2017_df.drop(columns = {'year_end', 'ninetieth_percentile_aqi', 'median_aqi', 'max_aqi' })
clean2017_aqi.head()

,us_state,county,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,270,241,28,1,0,0,0,0,0,206,0,64,0
1,AL,Clay,118,104,14,0,0,0,0,0,0,0,0,118,0
2,AL,Colbert,283,265,18,0,0,0,0,0,0,218,0,65,0
3,AL,DeKalb,359,329,30,0,0,0,0,0,0,315,0,44,0
4,AL,Elmore,226,221,5,0,0,0,0,0,0,226,0,0,0

In [50]:
#update column names with year
renamed2017_aqi = clean2017_aqi.rename(columns={'days_with_aqi':'days_with_aqi2017', 'good_days':'good_days2017', 'moderate_days':'moderate_days2017', 'unhealthy_sensitive_days':'unhealthy_sensitive_days2017', 'unhealthy_days':'unhealthy_days2017', 'very_unhealthy_days':'very_unhealthy_days2017', 'hazardous_days':'hazardous_days2017', 'days_co':'days_co2017', 'days_no2':'days_no2_2017', 'days_ozone':'days_ozone2017', 'days_so2':'days_so2_2017', 'days_pm2':'days_pm2_2017', 'days_pm10': 'days_pm10_2017'})
                                        
renamed2017_aqi.head()

,us_state,county,days_with_aqi2017,good_days2017,moderate_days2017,unhealthy_sensitive_days2017,unhealthy_days2017,very_unhealthy_days2017,hazardous_days2017,days_co2017,days_no2_2017,days_ozone2017,days_so2_2017,days_pm2_2017,days_pm10_2017
0,AL,Baldwin,270,241,28,1,0,0,0,0,0,206,0,64,0
1,AL,Clay,118,104,14,0,0,0,0,0,0,0,0,118,0
2,AL,Colbert,283,265,18,0,0,0,0,0,0,218,0,65,0
3,AL,DeKalb,359,329,30,0,0,0,0,0,0,315,0,44,0
4,AL,Elmore,226,221,5,0,0,0,0,0,0,226,0,0,0

In [51]:
# Read csv file with the pandas library
poverty2017_df = pd.read_csv("Resources/original_data/poverty2017.csv")

poverty2017_df.head()

  us_state             county  poverty_estimate  poverty_percentage
0       VA            Loudoun             11895                3.01
1       CO            Douglas             10574                3.20
2       VA  Falls Church city               498                3.40
3       SD            Lincoln              1956                3.50
4       NM         Los Alamos               691                3.70

In [52]:
clean_poverty2017_df = poverty2017_df.drop(columns = {'poverty_estimate'})
renamed_poverty2017 = clean_poverty2017_df.rename(columns={'poverty_percentage':'poverty_percentage2017'})
renamed_poverty2017.head()

  us_state             county  poverty_percentage2017
0       VA            Loudoun                    3.01
1       CO            Douglas                    3.20
2       VA  Falls Church city                    3.40
3       SD            Lincoln                    3.50
4       NM         Los Alamos                    3.70

In [53]:
#merge dataframes on state and county
combined2017_df = pd.merge(renamed2017_aqi, renamed_poverty2017, how="left", on=['us_state', 'county'])
combined2017_df.head()

,us_state,county,days_with_aqi2017,good_days2017,moderate_days2017,unhealthy_sensitive_days2017,unhealthy_days2017,very_unhealthy_days2017,hazardous_days2017,days_co2017,days_no2_2017,days_ozone2017,days_so2_2017,days_pm2_2017,days_pm10_2017,poverty_percentage2017
0,AL,Baldwin,270,241,28,1,0,0,0,0,0,206,0,64,0,10.10
1,AL,Clay,118,104,14,0,0,0,0,0,0,0,0,118,0,18.10
2,AL,Colbert,283,265,18,0,0,0,0,0,0,218,0,65,0,15.40
3,AL,DeKalb,359,329,30,0,0,0,0,0,0,315,0,44,0,19.50
4,AL,Elmore,226,221,5,0,0,0,0,0,0,226,0,0,0,12.01

In [54]:
combined171819_df = pd.merge(combined1819_df, combined2017_df, how="left", on=['us_state', 'county'])
combined171819_df.head()

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,...,unhealthy_days2017,very_unhealthy_days2017,hazardous_days2017,days_co2017,days_no2_2017,days_ozone2017,days_so2_2017,days_pm2_2017,days_pm10_2017,poverty_percentage2017
0,AL,Baldwin,271,237,34,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,206.0,0.0,64.0,0.0,10.10
1,AL,Clay,107,97,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118.0,0.0,18.10
2,AL,Colbert,263,252,11,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,218.0,0.0,65.0,0.0,15.40
3,AL,DeKalb,361,324,37,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,315.0,0.0,44.0,0.0,19.50
4,AL,Elmore,228,208,20,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,226.0,0.0,0.0,0.0,12.01

In [55]:
# Read csv file with the pandas library
aqi2016_df = pd.read_csv("Resources/original_data/aqi2016.csv")

aqi2016_df.head()

,us_state,county,year_end,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,ninetieth_percentile_aqi,median_aqi,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,12/31/2016,279,247,32,0,0,0,0,87,51,37,0,0,221,0,58,0
1,AL,Clay,12/31/2016,116,109,7,0,0,0,0,56,45,30,0,0,0,0,116,0
2,AL,Colbert,12/31/2016,282,258,23,1,0,0,0,115,50,38,0,0,219,0,63,0
3,AL,DeKalb,12/31/2016,348,304,43,1,0,0,0,119,54,40,0,0,321,0,27,0
4,AL,Elmore,12/31/2016,117,107,10,0,0,0,0,77,48,40,0,0,117,0,0,0

In [56]:
#remove unnecessary columns
clean2016_aqi = aqi2016_df.drop(columns = {'year_end', 'ninetieth_percentile_aqi', 'median_aqi', 'max_aqi' })
clean2016_aqi.head()

,us_state,county,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,days_co,days_no2,days_ozone,days_so2,days_pm2,days_pm10
0,AL,Baldwin,279,247,32,0,0,0,0,0,0,221,0,58,0
1,AL,Clay,116,109,7,0,0,0,0,0,0,0,0,116,0
2,AL,Colbert,282,258,23,1,0,0,0,0,0,219,0,63,0
3,AL,DeKalb,348,304,43,1,0,0,0,0,0,321,0,27,0
4,AL,Elmore,117,107,10,0,0,0,0,0,0,117,0,0,0

In [57]:
#update column names with year
renamed2016_aqi = clean2016_aqi.rename(columns={'days_with_aqi':'days_with_aqi2016', 'good_days':'good_days2016', 'moderate_days':'moderate_days2016', 'unhealthy_sensitive_days':'unhealthy_sensitive_days2016', 'unhealthy_days':'unhealthy_days2016', 'very_unhealthy_days':'very_unhealthy_days2016', 'hazardous_days':'hazardous_days2016', 'days_co':'days_co2016', 'days_no2':'days_no2_2016', 'days_ozone':'days_ozone2016', 'days_so2':'days_so2_2016', 'days_pm2':'days_pm2_2016', 'days_pm10': 'days_pm10_2016'})
                                        
renamed2016_aqi.head()

,us_state,county,days_with_aqi2016,good_days2016,moderate_days2016,unhealthy_sensitive_days2016,unhealthy_days2016,very_unhealthy_days2016,hazardous_days2016,days_co2016,days_no2_2016,days_ozone2016,days_so2_2016,days_pm2_2016,days_pm10_2016
0,AL,Baldwin,279,247,32,0,0,0,0,0,0,221,0,58,0
1,AL,Clay,116,109,7,0,0,0,0,0,0,0,0,116,0
2,AL,Colbert,282,258,23,1,0,0,0,0,0,219,0,63,0
3,AL,DeKalb,348,304,43,1,0,0,0,0,0,321,0,27,0
4,AL,Elmore,117,107,10,0,0,0,0,0,0,117,0,0,0

In [58]:
# Read csv file with the pandas library
poverty2016_df = pd.read_csv("Resources/original_data/poverty2016.csv")

poverty2016_df.head()

  us_state                county  poverty_estimate  poverty_percentage
0       AK  Skagway Municipality                48                 4.4
1       AK                Denali               121                 6.3
2       AK             Anchorage             21108                 7.2
3       AK         Kodiak Island               991                 7.3
4       AK                Juneau              2334                 7.4

In [59]:
clean_poverty2016_df = poverty2016_df.drop(columns = {'poverty_estimate'})
renamed_poverty2016 = clean_poverty2016_df.rename(columns={'poverty_percentage':'poverty_percentage2016'})
renamed_poverty2016.head()

  us_state                county  poverty_percentage2016
0       AK  Skagway Municipality                     4.4
1       AK                Denali                     6.3
2       AK             Anchorage                     7.2
3       AK         Kodiak Island                     7.3
4       AK                Juneau                     7.4

In [60]:
## merge dataframes on state and county
combined2016_df = pd.merge(renamed2016_aqi, renamed_poverty2016, how="left", on=['us_state', 'county'])
combined2016_df.head()

,us_state,county,days_with_aqi2016,good_days2016,moderate_days2016,unhealthy_sensitive_days2016,unhealthy_days2016,very_unhealthy_days2016,hazardous_days2016,days_co2016,days_no2_2016,days_ozone2016,days_so2_2016,days_pm2_2016,days_pm10_2016,poverty_percentage2016
0,AL,Baldwin,279,247,32,0,0,0,0,0,0,221,0,58,0,11.7
1,AL,Clay,116,109,7,0,0,0,0,0,0,0,0,116,0,18.9
2,AL,Colbert,282,258,23,1,0,0,0,0,0,219,0,63,0,16.7
3,AL,DeKalb,348,304,43,1,0,0,0,0,0,321,0,27,0,20.5
4,AL,Elmore,117,107,10,0,0,0,0,0,0,117,0,0,0,13.5

In [61]:
all_combined_df = pd.merge(combined171819_df, combined2016_df, how="left", on=['us_state', 'county'])
all_combined_df

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,...,unhealthy_days2016,very_unhealthy_days2016,hazardous_days2016,days_co2016,days_no2_2016,days_ozone2016,days_so2_2016,days_pm2_2016,days_pm10_2016,poverty_percentage2016
0,AL,Baldwin,271,237,34,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,221.0,0.0,58.0,0.0,11.7
1,AL,Clay,107,97,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116.0,0.0,18.9
2,AL,Colbert,263,252,11,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,219.0,0.0,63.0,0.0,16.7
3,AL,DeKalb,361,324,37,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,321.0,0.0,27.0,0.0,20.5
4,AL,Elmore,228,208,20,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,117.0,0.0,0.0,0.0,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,WY,Sublette,365,266,88,8,3,0,0,0,...,0.0,0.0,0.0,0.0,0.0,351.0,0.0,15.0,0.0,6.7
1065,WY,Sweetwater,365,262,100,3,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,323.0,5.0,4.0,34.0,9.8
1066,WY,Teton,365,326,39,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,351.0,0.0,15.0,0.0,7.3
1067,WY,Uinta,365,315,49,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,359.0,0.0,0.0,7.0,10.6
1068,WY,Weston,365,340,25,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,350.0,10.0,6.0,0.0,10.7

In [62]:
#drop rows with missing values
clean_combined_df = all_combined_df.dropna()
clean_combined_df

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,...,unhealthy_days2016,very_unhealthy_days2016,hazardous_days2016,days_co2016,days_no2_2016,days_ozone2016,days_so2_2016,days_pm2_2016,days_pm10_2016,poverty_percentage2016
0,AL,Baldwin,271,237,34,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,221.0,0.0,58.0,0.0,11.7
1,AL,Clay,107,97,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116.0,0.0,18.9
2,AL,Colbert,263,252,11,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,219.0,0.0,63.0,0.0,16.7
3,AL,DeKalb,361,324,37,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,321.0,0.0,27.0,0.0,20.5
4,AL,Elmore,228,208,20,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,117.0,0.0,0.0,0.0,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,WY,Sublette,365,266,88,8,3,0,0,0,...,0.0,0.0,0.0,0.0,0.0,351.0,0.0,15.0,0.0,6.7
1065,WY,Sweetwater,365,262,100,3,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,323.0,5.0,4.0,34.0,9.8
1066,WY,Teton,365,326,39,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,351.0,0.0,15.0,0.0,7.3
1067,WY,Uinta,365,315,49,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,359.0,0.0,0.0,7.0,10.6
1068,WY,Weston,365,340,25,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,350.0,10.0,6.0,0.0,10.7

In [63]:
#create new columns with average for poverty and all AQ data
#total AQI days
clean_combined_df['avg_aqi_days'] = clean_combined_df.loc[:, ['days_with_aqi2019', 'days_with_aqi2018', 'days_with_aqi2017', 'days_with_aqi2016']].mean(axis=1)

#good days
clean_combined_df['avg_good_days'] = clean_combined_df.loc[:, ['good_days2019', 'good_days2018', 'good_days2017', 'good_days2016']].mean(axis=1)

#moderate days
clean_combined_df['avg_moderate_days'] = clean_combined_df.loc[:, ['moderate_days2019', 'moderate_days2018', 'moderate_days2017', 'moderate_days2016']].mean(axis=1)

#unhealthy sensitive days
clean_combined_df['avg_unhealthy_sensitive_days'] = clean_combined_df.loc[:, ['unhealthy_sensitive_days2019', 'unhealthy_sensitive_days2018', 'unhealthy_sensitive_days2017', 'unhealthy_sensitive_days2016']].mean(axis=1)

#unhealthy days
clean_combined_df['avg_unhealthy_days'] = clean_combined_df.loc[:, ['unhealthy_days2019', 'unhealthy_days2018', 'unhealthy_days2017', 'unhealthy_days2016']].mean(axis=1)

#very unhealthy days
clean_combined_df['avg_very_unhealthy_days'] = clean_combined_df.loc[:, ['very_unhealthy_days2019', 'very_unhealthy_days2018', 'very_unhealthy_days2017', 'very_unhealthy_days2016']].mean(axis=1)

#hazardous days
clean_combined_df['avg_hazardous_days'] = clean_combined_df.loc[:, ['hazardous_days2019', 'hazardous_days2018', 'hazardous_days2017', 'hazardous_days2016']].mean(axis=1)

#co days
clean_combined_df['avg_co_days'] = clean_combined_df.loc[:, ['days_co2019', 'days_co2018', 'days_co2017', 'days_co2016']].mean(axis=1)

#no2 days
clean_combined_df['avg_no2_days'] = clean_combined_df.loc[:, ['days_no2_2019', 'days_no2_2018', 'days_no2_2017', 'days_no2_2016']].mean(axis=1)

#ozone days
clean_combined_df['avg_ozone_days'] = clean_combined_df.loc[:, ['days_ozone2019', 'days_ozone2018', 'days_ozone2017', 'days_ozone2016']].mean(axis=1)

#so2 days
clean_combined_df['avg_so2_days'] = clean_combined_df.loc[:, ['days_so2_2019', 'days_so2_2018', 'days_so2_2017', 'days_so2_2016']].mean(axis=1)

#pm2.5 days
clean_combined_df['avg_pm2_days'] = clean_combined_df.loc[:, ['days_pm2_2019', 'days_pm2_2018', 'days_pm2_2017', 'days_pm2_2016']].mean(axis=1)

#pm10 days
clean_combined_df['avg_pm10_days'] = clean_combined_df.loc[:, ['days_pm10_2019', 'days_pm10_2018', 'days_pm10_2017', 'days_pm10_2016']].mean(axis=1)

#poverty %
clean_combined_df['avg_poverty_percentage'] = clean_combined_df.loc[:, ['poverty_percentage2019', 'poverty_percentage2018', 'poverty_percentage2017', 'poverty_percentage2016']].mean(axis=1)

clean_combined_df.head()

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,...,avg_unhealthy_days,avg_very_unhealthy_days,avg_hazardous_days,avg_co_days,avg_no2_days,avg_ozone_days,avg_so2_days,avg_pm2_days,avg_pm10_days,avg_poverty_percentage
0,AL,Baldwin,271,237,34,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,215.25,0.0,57.25,0.0,10.4250
1,AL,Clay,107,97,10,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,112.75,0.0,17.8000
2,AL,Colbert,263,252,11,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,218.50,0.0,57.75,0.0,15.1250
3,AL,DeKalb,361,324,37,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,321.00,0.0,33.50,0.0,19.8750
4,AL,Elmore,228,208,20,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,198.25,0.0,0.00,0.0,12.0275

In [64]:
#read clean cancer data csv
# Read csv file with pandas and create dataframe
cancer_df = pd.read_csv("Resources/clean_data/cancerdata.csv")


cancer_df

     us_state      county  pop_per_100k cancer_classification
0          AL      Shelby     10.184674                medium
1          AL        Hale     13.607983                medium
2          AL      Monroe     15.276730                medium
3          AL       Coosa     16.783727                medium
4          AL       Perry     14.080424                medium
...       ...         ...           ...                   ...
2947       WY    Sublette      0.000000                   NaN
2948       WY    Big Horn     13.767629                medium
2949       WY    Sheridan     11.901817                medium
2950       WY     Natrona     11.949526                medium
2951       WY  Sweetwater      7.992995                   low

[2952 rows x 4 columns]

In [65]:
complete_df = pd.merge(clean_combined_df, cancer_df, how="left", on=['us_state', 'county'])

#replace null values in cancer classification and population per 100k columns
complete_df['cancer_classification'].fillna('no data', inplace=True)
complete_df['pop_per_100k'].fillna('0', inplace=True)




complete_df

,us_state,county,days_with_aqi2019,good_days2019,moderate_days2019,unhealthy_sensitive_days2019,unhealthy_days2019,very_unhealthy_days2019,hazardous_days2019,days_co2019,...,avg_hazardous_days,avg_co_days,avg_no2_days,avg_ozone_days,avg_so2_days,avg_pm2_days,avg_pm10_days,avg_poverty_percentage,pop_per_100k,cancer_classification
0,AL,Baldwin,271,237,34,0,0,0,0,0,...,0.00,0.0,0.0,215.25,0.0,57.25,0.00,10.4250,20.287,high
1,AL,Clay,107,97,10,0,0,0,0,0,...,0.00,0.0,0.0,0.00,0.0,112.75,0.00,17.8000,25.9636,high
2,AL,Colbert,263,252,11,0,0,0,0,0,...,0.00,0.0,0.0,218.50,0.0,57.75,0.00,15.1250,19.7615,medium
3,AL,DeKalb,361,324,37,0,0,0,0,0,...,0.00,0.0,0.0,321.00,0.0,33.50,0.00,19.8750,15.3575,medium
4,AL,Elmore,228,208,20,0,0,0,0,0,...,0.00,0.0,0.0,198.25,0.0,0.00,0.00,12.0275,16.1585,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,WY,Sublette,365,266,88,8,3,0,0,0,...,0.00,0.0,0.0,350.25,0.0,14.50,0.50,6.8250,0,no data
996,WY,Sweetwater,365,262,100,3,0,0,0,0,...,0.00,0.0,2.0,312.50,4.0,5.25,41.50,9.1275,7.99299,low
997,WY,Teton,365,326,39,0,0,0,0,0,...,0.00,0.0,0.0,347.75,0.0,16.75,0.75,6.3525,4.19093,low
998,WY,Uinta,365,315,49,1,0,0,0,0,...,0.25,0.0,1.5,355.25,0.0,0.00,8.50,9.8275,6.94331,low
999,WY,Weston,365,340,25,0,0,0,0,0,...,0.00,0.0,0.0,334.75,29.0,1.50,0.00,10.9000,15.699,medium

In [67]:
# Export file as a CSV, without index and header
complete_df.to_csv("Resources/clean_data/combineddata.csv", index=True, header=True)

In [68]:
clean_combined_df.to_json("Resources/clean_data/combineddata.json", orient='records')